version: '3'
services:
  nginx:
    ports:
    - "80:80"
    - "443:443"
    build:
      context: ./nginx
  idp:
    ports:
      - "9000:8080"
    build:
       context: ./idp
    volumes:
      - ./idp/config:/var/simplesamlphp/config
      - ./idp/metadata:/var/simplesamlphp/metadata
    working_dir: /var/simplesamlphp
